* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(174, 201, 110);
    width: 100%;
    height: 100vh;
}