* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskOne__title {
    text-align: center;
    font-size: 40px;
}

.taskOne {
    padding: 10px 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.taskOne__text {
    font-size: 25px;
    text-align: center;
    margin: 0 0 15px;
}

.squaresWrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.square {
    width: 10%;
    height: 10%;
    border: 1px solid #000;
}

.btnStart {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translatey(-50%);
    width: 150px;
    height: 50px;
    font-size: 20px;

}